<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Liste des groupes</title>

  <link rel="stylesheet" href="/static/artists_list.css">
</head>
<body>
  <div class="container">
    <div class="top-actions">
      <a class="btn btn-primary" id="backHome" href="/?Reset=acceuil">← Accueil</a>
      <span style="margin-left:12px;color:#000">Liste des groupes</span>
    </div>
  </div>
  <form action="/" method="get">
    <div class="artists">
    {{range .Artist}}
      <a href="/?Is_artist={{.Nom}}{{if $.Search}}&Search={{$.Search}}{{end}}" class="artist artist-btn">
        <div class="image">
          <img src="{{.Image}}" alt="Photo de {{.Nom}}">
        </div>
        <div class="name">{{.Nom}}</div>
        </a>
      {{else}}
        <span>Aucun artiste trouvé.</span>
      {{end}}
    </div>
  </form>
</body>
</html>
